<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>LybraryManagement</display-name>


	<welcome-file-list>
		<welcome-file>StudentController</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>StudentController</servlet-name>
		<servlet-class>com.tpq.controller.StudentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookController</servlet-name>
		<servlet-class>com.tpq.controller.BookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BorrowController</servlet-name>
		<servlet-class>com.tpq.controller.BorrowController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowController</servlet-name>
		<url-pattern>/borrow</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>dbURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/bookstore</param-value>
	</context-param>

	<context-param>
		<param-name>dbUsername</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>123456</param-value>
	</context-param>
</web-app>